@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.container {
  position: relative;
  display: flex;
  justify-content: space-between; 
}

.main {
  max-width: 1200px;
  width: 100%;
  padding: 30px;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
}

.subtitle{
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}