body,
button,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: #242424;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
